<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Business_LandingPage </title>

    <link rel="canonical" href="homesaazinteriors.com" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Business Name" name="keywords">
    <meta content="Business Description Varanasi" name="description">

    <!-- Favicons -->


    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

    <!-- Main Stylesheet File -->
    <link rel="stylesheet" href="css/sarthak-style.css">
    <link href="css/style.css" rel="stylesheet">

</head>

<body>
    <!-- <% for (var i = 0; i < 5; i++) { %>
    <%=data.contactInfo.phone%>
    <% } %> -->
    <header id="header">

        <div id="topbar">
            <div class="container">
                <div class="social-links">

                    <a href="https://www.facebook.com/homedecorvaranasi/" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="facebook"><i class="fa fa-instagram"></i></a>

                </div>
            </div>
        </div>

        <div class="container">

            <div class="logo float-left">
                <!-- Uncomment below if you prefer to use an image logo -->
                <h1 class="text-light"><a href="#intro" class="scrollto"><span><%=data.businessName%></span></a></h1>
                <!-- <a href="#header" class="scrollto"><img src="img/products/bed.png" alt="" class="img-fluid"></a> -->
            </div>

            <nav class="main-nav float-right d-none d-lg-block">
                <ul>
                    <li class="active"><a href="#intro">Home</a></li>
                    <li><a href="#services">Products</a></li>
                    <li><a href="#clients">Brands</a></li>
                    <li><a href="#footer">Contact Us</a></li>
                </ul>
            </nav>
            <!-- .main-nav -->

        </div>
    </header>
    <!-- #header -->

    <!--==========================
    Intro Section
  ============================-->
    <section id="intro" class="clearfix">
        <div class="container d-flex h-100">
            <div class="row justify-content-center align-self-center">
                <div class="col-md-6 intro-info order-md-first order-last">
                       <% var s = data.businessName; %>

                        <% var middle = Math.floor(s.length / 2); %>
                        <% var before = s.lastIndexOf(' ', middle); %>
                        <% var after = s.indexOf(' ', middle + 1); %>
                        
                        <% if (middle - before < after - middle) { %>
                        <%    middle = before; %>
                        <% } else { %>
                        <%    middle = after; %>
                        <%}%>
                        
                       <% var s1 = s.substr(0, middle); %>
                       <% var s2 = s.substr(middle + 1); %>
                    <h2><%=s1%> <br> <span><%=s2%></span></h2>
                   
                    <div>
                        <a href="#team" class="btn-get-started scrollto "><i class="zmdi zmdi-shopping-cart  zmdi-hc-2x " >&nbsp;</i>Shop Now</a>
                    </div>
                </div>
                <!-- "https://via.placeholder.com/1432x1127" -->
                <div class="col-md-6 intro-img order-md-last order-first">
                    <% var url = "https://via.placeholder.com/1432x1127" %>
                    <% if(data.heroImage){ url = data.heroImage }%>
                    <img src= <%=url%> alt="intro" class="img-fluid">
                    <!-- ./img/intro.jpg -->

                </div>
            </div>

        </div>
    </section>
    <!-- #intro -->

    <main id="main">
        <!-- description -->
        <section id="call-to-action" class="wow fadeInUp">

            <div class="container">
                <div class="row">


                    <div class="col-lg-12 text-center text-lg-center">
                        <h3 class="cta-title">About Our Business</h3>
                        <p class="cta-text"> <%=data.aboutBusiness%></p>
                    </div>
                    <!-- <div class="col-lg-3 cta-btn-container text-center">
                        <a class="cta-btn align-middle" href="tel:+919335471585">Call</a>
                    </div> -->
                </div>

            </div>
        </section>






        <!--==========================
      Products Section
    ============================-->

        <section id="services" class="section-bg">
            <div class="container">

                <header class="section-header">
                    <h3> Featured Products</h3>
                    <p>We provide best deals!</p>
                </header>

                <div class="row">
                    <% for (var i = 0; i < data.products.length; i++) { %>
                    <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                        <div class="box">
                            <% var productURL = "https://via.placeholder.com/128" %>
                            <% if(data.products[i].image.length > 0) productURL = data.products[i].image %>
                            <div class="icon"><img style="height:100px;width:100px;" src= <%=productURL%> alt="Curtains"></div>
                            <h4 class="title"><a href=""><%=data.products[i].name%></a></h4>

                        </div>
                    </div>
                    <% } %>
                </div>

            </div>
        </section>
        <!-- #services -->

        <!--==========================
      Call To Action Section
    ============================-->
        <section id="call-to-action" class="wow fadeInUp">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 text-center text-lg-left">
                        <h3 class="cta-title">Any Queries &nbsp;<i class="fa fa-question-circle" aria-hidden="true"></i></h3>
                        <p class="cta-text"> Feel free to call us.</p>
                    </div>
                    <div class="col-lg-3 cta-btn-container text-center">
                        <a class="cta-btn align-middle" href="tel:+919335471585"><i class="fa fa-phone" aria-hidden="true">&nbsp;</i>Call</a>
                    </div>
                </div>

            </div>
        </section>
        <!-- #call-to-action -->


        <!--==========================
      Gallery Section
    ============================-->
        <section id="portfolio" class="section-bg">
            <div class="container">

                <header class="section-header">
                    <h3 class="section-title">Gallery</h3>
                </header>

                <div class="row portfolio-container">
                <% for (var i = 0; i < data.galleryImages.length; i++) { %>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src= <%=data.galleryImages[i].image %> class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4><a href="#"><%=data.galleryImages[i].title%></a></h4>

                                <div>
                                    <a href= <%=data.galleryImages[i].image%> data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <% } %>

                </div>

            </div>
        </section>
        <!-- #portfolio -->

        <!--==========================
      branch Section
    ============================-->
        <section id="team " class="section-bg ">
            <div class="container ">
                <div class="section-header ">
                    <h3>Our Branches</h3>

                </div>

                <div class="row ">

                    <!--Grid column-->


                    <div class="col-lg-4 col-md-6 wow fadeInUp " data-wow-delay="0.1s ">
                        <div class="member ">
                            <div id="map-container-google-8 " class="z-depth-1-half map-container-5 " style="height: 300px ">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14426.71945583431!2d82.98029028085222!3d25.31495779146299!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x398e32065555553f%3A0x1c9fcee2fbe1c865!2sHome+Saaz+Interiors!5e0!3m2!1sen!2sin!4v1560103351808!5m2!1sen!2sin "
                                    width="600 " height="450 " frameborder="0 " style="border:0 " allowfullscreen></iframe>
                            </div>
                            <div class="member-info ">
                                <div class="member-info-content ">
                                    <h4 class="text-center" style="padding-top: 15px;">Branch 1</h4>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 wow fadeInUp " data-wow-delay="0.1s ">
                        <div class="member ">
                            <div id="map-container-google-8 " class="z-depth-1-half map-container-5 " style="height: 300px ">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3606.342992044507!2d82.9908024144934!3d25.326269083836298!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x398e2de1de52b1e1%3A0xe5d508a7564cb5dc!2sHome+Saaz+Interiors!5e0!3m2!1sen!2sin!4v1560103112667!5m2!1sen!2sin "
                                    width="600 " height="450 " frameborder="0 " style="border:0 " allowfullscreen></iframe>
                            </div>
                            <div class="member-info ">
                                <div class="member-info-content ">
                                    <h4 class="text-center" style="padding-top: 15px;"> Branch 2</h4>

                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="col-lg-4 col-md-6 wow fadeInUp " data-wow-delay="0.1s ">
                        <div class="member ">
                            <div id="map-container-google-8 " class="z-depth-1-half map-container-5 " style="height: 300px ">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14426.71945583431!2d82.98029028085222!3d25.31495779146299!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x398e32065555553f%3A0x1c9fcee2fbe1c865!2sHome+Saaz+Interiors!5e0!3m2!1sen!2sin!4v1560103351808!5m2!1sen!2sin "
                                    width="600 " height="450 " frameborder="0 " style="border:0 " allowfullscreen></iframe>
                            </div>
                            <div class="member-info ">
                                <div class="member-info-content ">
                                    <h4 class="text-center" style="padding-top: 15px;">Branch 3</h4>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- #team -->

        <!--==========================
      brands Section
    ============================-->
        <section id="clients" class="wow fadeInUp ">
            <div class="container ">

                <header class="section-header">
                    <h3>Our Brands</h3>
                </header>

                <div class="owl-carousel clients-carousel ">


                    <img src="https://via.placeholder.com/2269x1257" alt="ddecor "> <br>
                    <img src="https://via.placeholder.com/2269x1257" alt="raymond "> <br>
                    <img src="https://via.placeholder.com/2269x1257" alt="mafatlal "> <br>
                    <img src="https://via.placeholder.com/2269x1257" alt="bombay "> <br>
                    <img src="https://via.placeholder.com/2269x1257" alt="bindal "> <br>
                    <img src="https://via.placeholder.com/2269x1257" alt="corform "> <br>
                    <img src="https://via.placeholder.com/2269x1257" alt="thdd "> <br>
                    <img src="https://via.placeholder.com/2269x1257 " alt="reliance "> <br>


                </div>



            </div>
        </section>
        <!-- #brands -->

    </main>

    <!--==========================
    Footer
  ============================-->
    <footer id="footer" class="section-bg ">
        <div class="footer-top ">
            <div class="container ">

                <div class="row ">

                    <div class="col-lg-8 ">

                        <div class="row ">

                            <div class="col-sm-6 ">

                                <div class="footer-info ">
                                    <h3>Business Brand Name</h3>

                                </div>


                            </div>

                            <div class="col-sm-6 ">
                                <div class="footer-links ">
                                    <h4>Useful Links</h4>
                                    <ul>
                                        <li><a href="#intro ">Home</a></li>
                                        <li><a href="#services ">Products</a></li>
                                        <li><a href="#clients ">Brands</a></li>
                                        <li><a href="#footer ">Contact Us</a></li>
                                    </ul>
                                </div>

                                <div class="footer-links ">
                                    <h4>Contact Us</h4>
                                    <p>
                                        City: <%= data.contactInfo.city %><br> State: <%= data.contactInfo.state %><br> Country:<%= data.contactInfo.country %><br>
                                        <strong>Phone:</strong> +<%= data.contactInfo.phone %><br>
                                        <strong>Email:</strong> <%= data.contactInfo.email %><br>
                                    </p>
                                </div>

                                <div class="social-links ">
                                    <!-- <a href="# " class="twitter "><i class="fa fa-twitter "></i></a> -->
                                    <a href="https://www.facebook.com/homedecorvaranasi/ " class="facebook "><i
                      class="fa fa-facebook "></i></a>
                                    <a href="# " class="instagram "><i class="fa fa-instagram "></i></a>
                                    <!-- <a href="# " class="linkedin "><i class="fa fa-linkedin "></i></a> -->
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-lg-4 ">

                        <div class="form ">

                            <h4>Send us a message</h4>

                            <a class="typeform-share button " href="https://aloksadh.typeform.com/to/uzb54F " data-mode="popup " style="display:inline-block;text-decoration:none;background-color:#267DDD;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px
                        33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale; " target="_blank ">Contact Us </a>
                            <script>
                                (function() {
                                    var qs, js, q, s, d = document,
                                        gi = d.getElementById,
                                        ce = d.createElement,
                                        gt = d.getElementsByTagName,
                                        id = "typef_orm_share ",
                                        b = "https://embed.typeform.com/ ";
                                    if (!gi.call(d, id)) {
                                        js = ce.call(d, "script ");
                                        js.id = id;
                                        js.src = b + "embed.js ";
                                        q = gt.call(d, "script ")[0];
                                        q.parentNode.insertBefore(js, q)
                                    }
                                })()
                            </script>
                            <!-- 
              <form action=" " method="post " role="form " class="contactForm ">
                <div class="form-group ">
                  <input type="text " name="name " class="form-control " id="name " placeholder="Your Name "
                    data-rule="minlen:4 " data-msg="Please enter at least 4 chars " />
                  <div class="validation "></div>
                </div>
                <div class="form-group ">
                  <input type="email " class="form-control " name="email " id="email " placeholder="Your Email "
                    data-rule="email " data-msg="Please enter a valid email " />
                  <div class="validation "></div>
                </div>
                <div class="form-group ">
                  <input type="text " class="form-control " name="subject " id="subject " placeholder="Subject "
                    data-rule="minlen:4 " data-msg="Please enter at least 8 chars of subject " />
                  <div class="validation "></div>
                </div>
                <div class="form-group ">
                  <textarea class="form-control " name="message " rows="5 " data-rule="required "
                    data-msg="Please write something for us " placeholder="Message "></textarea>
                  <div class="validation "></div>
                </div>

                <div id="sendmessage ">Your message has been sent. Thank you!</div>
                <div id="errormessage "></div>

                <div class="text-center "><button type="submit " title="Send Message ">Send Message</button></div>
              </form> -->
                        </div>

                    </div>



                </div>

            </div>
        </div>

        <div class="container ">
            <div class="copyright ">
                &copy; Copyright <strong>Brand Name</strong>. All Rights Reserved
            </div>
            <div class="credits ">
                Designed by <a href="# ">Cryptx</a>
            </div>
        </div>
    </footer>
    <!-- #footer -->

    <a href="# " class="back-to-top "><i class="fa fa-chevron-up "></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <div id="preloader "></div>

    <!-- JavaScript Libraries -->
    <script src="lib/jquery/jquery.min.js "></script>
    <script src="lib/jquery/jquery-migrate.min.js "></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js "></script>
    <script src="lib/easing/easing.min.js "></script>
    <script src="lib/mobile-nav/mobile-nav.js "></script>
    <script src="lib/wow/wow.min.js "></script>
    <script src="lib/waypoints/waypoints.min.js "></script>
    <script src="lib/counterup/counterup.min.js "></script>
    <script src="lib/owlcarousel/owl.carousel.min.js "></script>
    <script src="lib/isotope/isotope.pkgd.min.js "></script>
    <script src="lib/lightbox/js/lightbox.min.js "></script>
    <!-- Contact Form JavaScript File -->
    <script src="contactform/contactform.js "></script>

    <!-- Template Main Javascript File -->
    <script src="js/main.js "></script>
    <script>
        console.log("here")
        $.get("/", function(data, status){
            console.log(data)
        });
    </script>

</body>

</html>
